<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>statefulItems</key>
	<array>
		<dict>
			<key>category</key>
			<string>wheel</string>
			<key>isInventoryItem</key>
			<true/>
			<key>isOrderItem</key>
			<false/>
			<key>stateImageStrings</key>
			<array>
				<string>circularImage</string>
				<string>triangularImage</string>
			</array>
			<key>stateIdentifiers</key>
			<array>
				<string>circle</string>
				<string>triangle</string>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>battery</string>
			<key>isInventoryItem</key>
			<true/>
			<key>isOrderItem</key>
			<false/>
			<key>stateImageStrings</key>
			<array>
				<string>AAImage</string>
				<string>AAAImage</string>
				<string>DImage</string>
				<string>PP3Image</string>
			</array>
			<key>stateIdentifiers</key>
			<array>
				<string>AA</string>
				<string>AAA</string>
				<string>D</string>
				<string>PP3</string>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>carBody</string>
			<key>isInventoryItem</key>
			<true/>
			<key>isOrderItem</key>
			<false/>
			<key>stateImageStrings</key>
			<array>
				<string>redBodyImage</string>
				<string>blueBodyImage</string>
				<string>yellowBodyImage</string>
			</array>
			<key>stateIdentifiers</key>
			<array>
				<string>red</string>
				<string>blue</string>
				<string>yellow</string>
			</array>
		</dict>
	</array>
	<key>titledItems</key>
	<array>
		<dict>
			<key>category</key>
			<string>book</string>
			<key>isInventoryItem</key>
			<true/>
			<key>isOrderItem</key>
			<true/>
			<key>titles</key>
			<array>
				<array>
					<string>The title of the book is</string>
					<string>The book title is title is</string>
				</array>
				<array>
					<string>The book title</string>
					<string>Is the book title</string>
				</array>
			</array>
			<key>imageString</key>
			<string>bookImage</string>
		</dict>
		<dict>
			<key>category</key>
			<string>magazine</string>
			<key>isInventoryItem</key>
			<true/>
			<key>isOrderItem</key>
			<true/>
			<key>titles</key>
			<array>
				<array>
					<string>By</string>
					<string>Buy</string>
				</array>
				<array>
					<string>Be</string>
					<string>Bee</string>
				</array>
			</array>
			<key>imageString</key>
			<string>magazineImage</string>
		</dict>
	</array>
	<key>rhythmicItems</key>
	<array>
		<dict>
			<key>category</key>
			<string>robot</string>
			<key>isInventoryItem</key>
			<true/>
			<key>isOrderItem</key>
			<true/>
			<key>itemGroups</key>
			<array>
				<array>
					<dict>
						<key>unitDuration</key>
						<integer>1</integer>
						<key>stateSequence</key>
						<array>
							<integer>0</integer>
							<integer>1</integer>
							<integer>0</integer>
						</array>
					</dict>
					<dict>
						<key>unitDuration</key>
						<integer>1</integer>
						<key>stateSequence</key>
						<array>
							<integer>1</integer>
							<integer>0</integer>
							<string>1</string>
						</array>
					</dict>
				</array>
				<array>
					<dict>
						<key>unitDuration</key>
						<integer>2</integer>
						<key>stateSequence</key>
						<array>
							<integer>0</integer>
							<integer>1</integer>
						</array>
					</dict>
					<dict>
						<key>unitDuration</key>
						<integer>2</integer>
						<key>stateSequence</key>
						<array>
							<integer>1</integer>
							<integer>0</integer>
						</array>
					</dict>
				</array>
			</array>
			<key>stateImageStrings</key>
			<array>
				<string>stateZeroImage</string>
				<string>stateOneImage</string>
			</array>
		</dict>
	</array>
	<key>assembledItems</key>
	<array>
		<dict>
			<key>category</key>
			<string>toyCar</string>
			<key>parts</key>
			<array>
				<string>carBody</string>
				<string>battery</string>
				<string>wheel</string>
			</array>
			<key>isInventoryItem</key>
			<true/>
			<key>isOrderItem</key>
			<true/>
			<key>depth</key>
			<integer>0</integer>
			<key>mainImageString</key>
			<string>toyCarImage</string>
			<key>partsImageStrings</key>
			<dict>
				<key>carBody</key>
				<string>toyCarCarBodyImage</string>
				<key>batter</key>
				<string>toyCarBatteryImage</string>
				<key>wheel</key>
				<string>toyCarWheelImage</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
