<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>statefulItems</key>
	<array>
		<dict>
			<key>category</key>
			<string>Wheel</string>
			<key>isInventoryItem</key>
			<true/>
			<key>isOrderItem</key>
			<false/>
			<key>stateImageStrings</key>
			<array>
				<string>wheel_circle.png</string>
				<string>wheel_triangle.png</string>
				<string>wheel_square.png</string>
			</array>
			<key>stateIdentifiers</key>
			<array>
				<string>circle</string>
				<string>triangle</string>
				<string>square</string>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>Battery</string>
			<key>isInventoryItem</key>
			<true/>
			<key>isOrderItem</key>
			<false/>
			<key>stateImageStrings</key>
			<array>
				<string>battery_AA.png</string>
				<string>battery_D.png</string>
				<string>battery_PP3.png</string>
			</array>
			<key>stateIdentifiers</key>
			<array>
				<string>AA</string>
				<string>D</string>
				<string>PP3</string>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>Body</string>
			<key>isInventoryItem</key>
			<true/>
			<key>isOrderItem</key>
			<false/>
			<key>stateImageStrings</key>
			<array>
				<string>body_red.png</string>
				<string>body_blue.png</string>
				<string>body_green.png</string>
			</array>
			<key>stateIdentifiers</key>
			<array>
				<string>red</string>
				<string>blue</string>
				<string>yellow</string>
			</array>
		</dict>
	</array>
	<key>titledItems</key>
	<array>
		<dict>
			<key>category</key>
			<string>book</string>
			<key>isInventoryItem</key>
			<false/>
			<key>isOrderItem</key>
			<false/>
			<key>titles</key>
			<array>
				<array>
					<string>The title of the book is</string>
					<string>The book title is title is</string>
				</array>
				<array>
					<string>The book title</string>
					<string>Is the book title</string>
				</array>
			</array>
			<key>imageString</key>
			<string>book.png</string>
		</dict>
		<dict>
			<key>category</key>
			<string>magazine</string>
			<key>isInventoryItem</key>
			<false/>
			<key>isOrderItem</key>
			<false/>
			<key>titles</key>
			<array>
				<array>
					<string>By</string>
					<string>Buy</string>
				</array>
				<array>
					<string>Be</string>
					<string>Bee</string>
				</array>
			</array>
			<key>imageString</key>
			<string>magazine.png</string>
		</dict>
	</array>
	<key>rhythmicItems</key>
	<array>
		<dict>
			<key>category</key>
			<string>Siren</string>
			<key>isInventoryItem</key>
			<true/>
			<key>isOrderItem</key>
			<true/>
			<key>itemGroups</key>
			<array>
				<array>
					<dict>
						<key>unitDuration</key>
						<integer>1</integer>
						<key>stateSequence</key>
						<array>
							<integer>0</integer>
							<integer>1</integer>
							<integer>0</integer>
						</array>
					</dict>
					<dict>
						<key>unitDuration</key>
						<integer>2</integer>
						<key>stateSequence</key>
						<array>
							<integer>1</integer>
							<integer>0</integer>
							<integer>1</integer>
						</array>
					</dict>
				</array>
				<array>
					<dict>
						<key>unitDuration</key>
						<integer>1</integer>
						<key>stateSequence</key>
						<array>
							<integer>0</integer>
							<integer>1</integer>
						</array>
					</dict>
					<dict>
						<key>unitDuration</key>
						<integer>3</integer>
						<key>stateSequence</key>
						<array>
							<integer>1</integer>
							<integer>0</integer>
						</array>
					</dict>
				</array>
			</array>
			<key>stateImageStrings</key>
			<array>
				<string>siren_purple.png</string>
				<string>siren_yellow.png</string>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>Robot</string>
			<key>isInventoryItem</key>
			<false/>
			<key>isOrderItem</key>
			<false/>
			<key>itemGroups</key>
			<array>
				<array>
					<dict>
						<key>unitDuration</key>
						<integer>1</integer>
						<key>stateSequence</key>
						<array>
							<integer>0</integer>
							<integer>1</integer>
							<integer>0</integer>
						</array>
					</dict>
					<dict>
						<key>unitDuration</key>
						<integer>1</integer>
						<key>stateSequence</key>
						<array>
							<integer>1</integer>
							<integer>0</integer>
							<integer>1</integer>
						</array>
					</dict>
				</array>
				<array>
					<dict>
						<key>unitDuration</key>
						<integer>2</integer>
						<key>stateSequence</key>
						<array>
							<integer>0</integer>
							<integer>1</integer>
						</array>
					</dict>
					<dict>
						<key>unitDuration</key>
						<integer>4</integer>
						<key>stateSequence</key>
						<array>
							<integer>1</integer>
							<integer>0</integer>
						</array>
					</dict>
				</array>
			</array>
			<key>stateImageStrings</key>
			<array>
				<string>robot_lit.png</string>
				<string>robot_unlit.png</string>
			</array>
		</dict>
	</array>
	<key>assembledItems</key>
	<array>
		<dict>
			<key>category</key>
			<string>Car</string>
			<key>parts</key>
			<array>
				<string>Body</string>
				<string>Battery</string>
				<string>Wheel</string>
			</array>
			<key>isInventoryItem</key>
			<false/>
			<key>isOrderItem</key>
			<false/>
			<key>depth</key>
			<integer>0</integer>
			<key>mainImageString</key>
			<string>toyCarImage</string>
			<key>partsImageStrings</key>
			<dict>
				<key>Body</key>
				<array>
					<string>toycar_body_red.png</string>
					<string>toycar_body_blue.png</string>
					<string>toycar_body_green.png</string>
				</array>
				<key>Battery</key>
				<array>
					<string>toycar_battery_AA.png</string>
					<string>toycar_battery_D.png</string>
					<string>toycar_battery_PP3.png</string>
				</array>
				<key>Wheel</key>
				<array>
					<string>toycar_wheel_circle.png</string>
					<string>toycar_wheel_triangle.png</string>
					<string>toycar_wheel_square.png</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>category</key>
			<string>Police Car</string>
			<key>parts</key>
			<array>
				<string>Car</string>
				<string>Siren</string>
			</array>
			<key>isInventoryItem</key>
			<true/>
			<key>isOrderItem</key>
			<true/>
			<key>depth</key>
			<integer>1</integer>
			<key>mainImageString</key>
			<string>policeCarImage</string>
			<key>partsImageStrings</key>
			<dict>
				<key>Car</key>
				<array/>
				<key>Siren</key>
				<array>
					<string>toycar_siren_purple.png</string>
					<string>toycar_siren_yellow.png</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>category</key>
			<string>toyCarGift</string>
			<key>parts</key>
			<array>
				<string>toyCar</string>
				<string>book</string>
			</array>
			<key>isInventoryItem</key>
			<false/>
			<key>isOrderItem</key>
			<false/>
			<key>depth</key>
			<integer>1</integer>
			<key>mainImageString</key>
			<string></string>
			<key>partsImageStrings</key>
			<dict>
				<key>toyCar</key>
				<string>toyCarImage</string>
				<key>book</key>
				<string>bookImage</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
